* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #f91944;
	--primary-hover: #e1143e;
}

body {
	font-family: "Roboto", sans-serif;
	color: #101010;
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
}

.logo img {
	max-width: 150px;
}

.btn-round {
	background-color: var(--primary);
	border: none;
	font-weight: 300;
	border-radius: 30px;
	padding: 9px 35px;
}

/* ************ Section => HEADER */
.navbar {
	padding: 1.3rem 1rem;
	text-align: right;
}
.navbar-brand {
	margin-left: 7%;
}
.navbar-light .navbar-nav .nav-link {
	color: #101010;
	position: relative;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: var(--primary);
}
.nav-item:not(:last-child) {
	margin-right: 20px;
}
.navbar.bg-light {
	background-color: white !important;
}

.cart-icon span {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	top: -2px;
	right: -5px;
	position: absolute;
	background: var(--primary);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 500;
}

/* ************ Section => BANNER */
.rd-banner {
	background: url(./images/bannerbackground.png) no-repeat center center / cover;
	padding: 50px 0;
	min-height: 550px;
	display: grid;
	place-items: center;
	text-align: center;
}

.rd-banner-search .form-group {
	display: flex;
	max-width: 616px;
	margin: 0 auto;
	position: relative;
}

.rd-banner-search .btn {
	position: absolute;
	right: 0;
}

.rd-banner-search .form-control,
.rd-banner-search .btn {
	height: 54px;
	border-radius: 27px;
}
.rd-banner-search .form-control {
	padding: 5px 25px;
	border: 0;
	font-weight: 300;
}

/* ************ Section => SHOP */
.rd-shop-filter .btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	transition: 0.15s linear;
	text-transform: capitalize;
}

.rd-shop-filter .btn:after,
.rd-shop-filter .btn.active:after {
	content: "";
	position: absolute;
	bottom: 5px;
	width: calc(100% - 35px);
	height: 3px;
	background: var(--primary);
	transition: 0.15s linear;
	transform: scaleX(0);
}

.rd-shop-filter .btn:hover,
.rd-shop-filter .btn:focus,
.rd-shop-filter .btn.active {
	box-shadow: none;
	color: var(--primary);
}

.rd-shop-filter .btn:hover:after,
.rd-shop-filter .btn:focus:after,
.rd-shop-filter .btn.active:after {
	transform: scaleX(1);
}

.rd-product-card {
	max-width: 368px;
	margin: 15px auto;
	min-height: 407px;
	padding: 15px;
	transition: 0.2s linear;
}
.rd-product-card a {
	display: block;
	color: initial;
	text-decoration: none;
}
.rd-product-card:hover,
.rd-product-card:focus {
	border-radius: 10px;
	box-shadow: 0px 10px 20px 10px rgb(128 128 128 / 12%);
	transform: translateY(-1px);
}
.rd-product-card img {
	max-width: 247px;
	margin: 0 auto 25px auto;
}
.rd-product-card .title {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 5px;
}
.rd-product-card .desc {
	font-size: 1rem;
	font-weight: 200;
	margin-bottom: 10px;
}
.rd-product-card .price {
	font-size: 1.5rem;
	font-weight: 400;
}

.rd-shop-checkout .btn {
	font-size: 1.2rem;
	font-weight: 300;
	padding: 12px 77px;
	border: none;
	border-radius: 6px;
}
.rd-shop-checkout .btn:disabled {
	background: #b1b1b1;
}

/* ************ Section => ABOUT-US */
.rd-about-us-intro h3 {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: 20px;
}

.about-us-card {
	max-width: 450px;
	margin: 0 auto;
	border-radius: 25px;
	transition: 0.2s linear;
	/* border: 1px solid; */
}

.about-us-card .content {
	display: flex;
	padding: 30px;
}

.about-us-card .icon i {
	background: var(--primary);
	color: #fff;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	margin-right: 15px;
}

.about-us-card .content h4 {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.about-us-card .content p {
	font-weight: 300;
	line-height: 1.3;
	color: var(--secondary);
}

.about-us-card .content a i {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #2ce155;
	margin-left: 8px;
	color: #fff;
	display: inline-grid;
	place-items: center;
	font-size: 14px;
}
.about-us-card .content a:hover {
	text-decoration: none;
}
.about-us-card:hover {
	box-shadow: 6px 8px 15px 5px rgb(128 128 128 / 12%);
	transform: translateY(-2px);
}

/* ************ Section => FOOTER */
.rd-footer {
	background: #191919;
}

.footer-links .links a {
	display: block;
	color: #fff;
	margin: 5px 0;
}

.footer-logo img {
	max-width: 150px;
}

.copyright-info,
.copyright-info a {
	color: rgb(171 171 171);
	font-size: 0.85rem;
	font-weight: 300;
}
.copyrights .links a {
	color: #fff;
	margin-left: 45px;
	font-size: 1rem;
}
.copyright-info span {
	font-size: 12px;
}

/* ************ Section => PRODUCT-DETAILS */
.product-details-info .form-group {
	display: flex;
	align-items: center;
}

.product-details-info .form-control {
	max-width: 70px;
	margin-left: 20px;
	height: 48px;
	border-radius: 24px;
	border-color: #dddddd;
	font-size: 1.2rem;
	text-align: center;
}

.product-details-info .addtocart h3 {
	margin: 15px 0;
	font-size: 2.5rem;
}

.product-details-info .addtocart .btn {
	height: 48px;
}

.product-details-info .addtocart .btn i {
	margin-right: 15px;
}

.rd-product-details {
	padding-top: 100px;
	padding-bottom: 80px;
}

.product-details-info > h2 {
	font-size: 4rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

.product-details-info > p {
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 2;
	color: var(--gray);
}

.product-details-thumbs-sm img {
}

.product-details-thumbs-sm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 90px;
	margin-top: 100px;
}

/* ************ Section => ORDER-COMPLETE */

.order-info > img {
	max-width: 110px;
}

.order-info .location {
	background: #fff;
	border-radius: 15px;
	padding: 20px 30px;
}

.order-info {
	background: #f5f5f5;
	border-radius: 14px;
	padding: 30px 20px;
}

.order-info .location h4 {
	font-size: 15px;
	font-weight: 400;
}

.order-info .location h5 {
	font-size: 13px;
	font-weight: 400;
	color: var(--secondary);
}

.order-info .location > div:first-child {
	margin-bottom: 30px;
}

.order-info .location .delivaryman {
	background: #fff;
}

.order-info .delivaryman {
	background: #fff;
	border-radius: 15px;
}

.order-info .delivaryman img {
	max-width: 70px;
	margin-right: 14px;
}

.order-info .delivaryman {
	display: flex;
	align-items: center;
	padding: 15px;
}

.order-info .delivaryman h6 {
	margin-bottom: 0;
	font-size: 14px;
	color: var(--secondary);
}

.order-info .delivaryman h5 {
	margin-bottom: 5px;
	font-size: 17px;
}

.order-info .btn {
	display: block !important;
	width: 100%;
	border-radius: 5px;
	padding: 12px;
	margin-top: 40px;
}

.order-info .time h2 {
	font-size: 2.5rem;
	font-weight: 400;
}

.order-info .time h3 {
	font-size: 1rem;
	font-weight: 400;
	color: var(--secondary);
}

.order-info .time {
	margin: 20px 0 15px 0;
}

/* ************ Section => SIGNUP */
.rd-signup {
	background: url(./images/Image/signup-bg.jpg) no-repeat center center / cover;
	padding: 100px 0px;
}
.rd-form-logo img {
	max-width: 330px;
}

.rd-form {
	max-width: 475px;
	margin: auto;
}

.rd-form .form-control {
	background: #f5f5f5;
	border: 0;
	padding: 10px 21px;
	height: 70px;
	border-radius: 6px;
	color: var(--secondary);
	font-size: 1.1rem;
	font-weight: 300;
}

.rd-form textarea.form-control {
	height: 100px;
}
.btn.rd-primary {
	background-color: var(--primary);
	color: #fff !important;
	border: none;
	font-weight: 300;
	border-radius: 5px;
	padding: 10px 35px;
}

.rd-form .btn.rd-primary {
	display: block;
	width: 100%;
	height: 70px;
}

.rd-form .btn {
	color: var(--primary);
	margin-top: 20px;
}

.rd-form .form-group {
	margin-bottom: 26px;
}

/* ************ Section => PLACE-ORDER */
.rd-order-details {
	padding: 120px 0;
}
.order-delivery .rd-form {
	text-align: left;
	margin-left: 0;
}

.order-delivery .rd-form .form-control:not(textarea),
.order-delivery .rd-form .btn.rd-primary {
	height: 54px;
}

.order-cart-price > div {
	display: flex;
	justify-content: space-between;
}

.order-cart-items .item {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 10px;
	place-items: center;
	background: #f5f5f5;
	padding: 15px;
	border-radius: 15px;
	margin-top: 20px;
}
.order-cart-items .item > div {
	align-self: center;
}
/* .order-cart-items .item > div:last-child {
	justify-self: flex-end;
} */
.order-cart-items .item img {
	max-width: 100px;
	height: auto;
}

.order-cart-items .item input {
	max-width: 70px;
}

.order-cart-checkout {
	text-align: center;
	margin-top: 20px;
}

.order-cart-items {
	margin: 20px 0;
}

.order-cart-price {
	margin-top: 40px;
}

.order-cart-items {
	margin: 20px 0;
}

.order-cart-price {
	margin-top: 40px;
}

.order-cart p {
	margin-bottom: 8px;
}

.order-cart-items .item h4 {
	font-size: 1rem;
	font-weight: 400;
}

.order-cart-items .item h3 {
	color: var(--primary);
}

.order-cart-items .item h5 {
	font-size: 0.7rem;
	font-weight: 300;
	color: var(--secondary);
}

.order-cart-items .item .form-control {
	text-align: center;
	background: #fff;
	border: 0;
	border-radius: 6px;
}

.order-cart-checkout .btn {
	display: block;
	width: 100%;
}
.order-cart-checkout a:hover {
	text-decoration: none;
}

.order-cart-price .total p {
	font-size: 1.4rem;
}
